Repository stacklok/codegate-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs,cjs}": ["npx prettier --write", "npx eslint --fix"],
  "*.md": ["npx prettier --write", "npx markdownlint-cli2 --fix"],
  "*.css": ["npx prettier --write"]
}

Update docs/integrations/avante.mdx
  docs/integrations/avante.mdx
Due: none

enable lua highlihgting
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

amend wording
  docs/integrations/copilot.mdx
Due: none

amends note wording
  docs/integrations/copilot.mdx
Due: none

docs: adds note around copilot context bug
  docs/quickstart-copilot.mdx
Due: none

Add muxing filter rules
  docs/about/changelog.md
  docs/features/muxing.mdx
  docs/features/workspaces.mdx
  docs/index.md
  docs/integrations/aider.mdx
  docs/integrations/avante.mdx
  docs/integrations/cline.mdx
  docs/integrations/continue.mdx
  docs/integrations/kodu.mdx
  docs/integrations/open-interpreter.mdx
  docs/partials/_aider-providers.mdx
  docs/partials/_cline-providers.mdx
  docs/partials/_kodu-providers.mdx
  static/img/features/muxing-rules-dark.webp
  static/img/features/muxing-rules-light.webp
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update changelog
  docs/about/changelog.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add conversation summary note
  docs/features/muxing.mdx
Due: none

Mark as unlisted
  docs/integrations/avante.mdx
Due: none

Re-list avante page and update changelog
  docs/about/changelog.md
  docs/index.md
  docs/integrations/avante.mdx
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update to match other integrations
  docs/integrations/avante.mdx
Due: none

Fix Neovim capitalization, other minor edits
  docs/about/changelog.md
  docs/index.md
  docs/integrations/avante.mdx
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add codegate.nvim note
  docs/integrations/avante.mdx
Due: none

make avante public and add note about codegate.nvim
  docs/integrations/avante.mdx
Due: none

Remove notes for fixed issues
  docs/integrations/continue.mdx
  docs/partials/_kodu-providers.mdx
Due: none

Update verification steps
  docs/integrations/avante.mdx
Due: none

Update issue link
  docs/integrations/avante.mdx
Due: none

Update issue link again
  docs/integrations/avante.mdx
Due: none

Add devcontainer config
  .devcontainer/devcontainer.json
Due: none

Update start command
  package.json
Due: none

Update README
  README.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add troubleshooting for Copilot in dev container
  docs/integrations/copilot.mdx
Due: none

Add request type filtering to muxing docs
  docs/features/muxing.mdx
  static/img/features/muxing-rules-dark.webp
  static/img/features/muxing-rules-light.webp
Due: none

Add precedence note
  docs/features/muxing.mdx
Due: none

Update based on current behavior
  docs/features/muxing.mdx
Due: none

Update upgrade steps, refactor default run command
  docs/how-to/install.mdx
  docs/partials/.markdownlint.json
  docs/partials/_default-run-command.md
  docs/quickstart-copilot.mdx
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix broken links
  docs/about/changelog.md
  docs/index.md
  docs/integrations/continue.mdx
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix typo
  docs/how-to/install.mdx
Due: none

Update mux rule filtering
  docs/features/muxing.mdx
  static/img/features/muxing-rules-dark.webp
  static/img/features/muxing-rules-light.webp
Due: none

Replace secrets encryption with redaction
  docs/about/changelog.md
  docs/features/secrets-redaction.md
  docs/index.md
  docs/quickstart-continue.mdx
  docs/quickstart-copilot.mdx
  vercel.json
Due: npx prettier --write, npx markdownlint-cli2 --fix
