Repository stacklok/codegate-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs,cjs}": ["npx prettier --write", "npx eslint --fix"],
  "*.md": ["npx prettier --write", "npx markdownlint-cli2 --fix"],
  "*.css": ["npx prettier --write"]
}

Add API server page
  docs/toolhive/how-to/api-server.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fixup title
  docs/toolhive/how-to/api-server.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Move the quickstart into tutorials
  docs/toolhive/how-to/install.mdx
  docs/toolhive/index.mdx
  docs/toolhive/tutorials/quickstart.mdx
Due: none

Initial K8s docs
  docs/toolhive/how-to/api-server.md
  docs/toolhive/index.mdx
  docs/toolhive/kubernetes/_category_.yaml
  docs/toolhive/kubernetes/deploy-operator-helm.md
  docs/toolhive/kubernetes/deploy-operator-kubectl.md
  docs/toolhive/kubernetes/index.md
  docs/toolhive/kubernetes/run-mcp-k8s.md
  docs/toolhive/tutorials/toolhive-operator.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add WIP notes
  docs/toolhive/kubernetes/deploy-operator-helm.md
  docs/toolhive/kubernetes/deploy-operator-kubectl.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update logs follow flag
  docs/toolhive/how-to/manage-mcp-servers.md
  docs/toolhive/reference/cli/thv_logs.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update K8s docs order
  docs/toolhive/kubernetes/deploy-operator-helm.md
  docs/toolhive/kubernetes/deploy-operator-kubectl.md
  docs/toolhive/kubernetes/index.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add sections, fix insecure_allow_all definition
  docs/toolhive/how-to/custom-permissions.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Minor wording fix
  docs/toolhive/how-to/custom-permissions.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Upgrade redocusaurus
  package-lock.json
  package.json
Due: none

Update client compatibility
  docs/toolhive/how-to/client-configuration.md
  docs/toolhive/reference/client-compatibility.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix link
  docs/toolhive/reference/client-compatibility.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update table styles
  docs/theme-preview.mdx
  src/css/custom.css
  src/css/footer.css
Due: npx prettier --write

Refresh CLI docs
  docs/toolhive/reference/cli/thv_config.md
  docs/toolhive/reference/cli/thv_config_get-ca-cert.md
  docs/toolhive/reference/cli/thv_config_get-registry-url.md
  docs/toolhive/reference/cli/thv_config_register-client.md
  docs/toolhive/reference/cli/thv_config_remove-client.md
  docs/toolhive/reference/cli/thv_config_set-ca-cert.md
  docs/toolhive/reference/cli/thv_config_set-registry-url.md
  docs/toolhive/reference/cli/thv_config_unset-ca-cert.md
  docs/toolhive/reference/cli/thv_config_unset-registry-url.md
  docs/toolhive/reference/cli/thv_logs.md
  docs/toolhive/reference/cli/thv_run.md
  docs/toolhive/reference/cli/thv_serve.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Extract the client table to a partial
  docs/toolhive/_partials/.markdownlint.json
  docs/toolhive/_partials/_client-compat-table.md
  docs/toolhive/reference/client-compatibility.mdx
Due: npx prettier --write, npx markdownlint-cli2 --fix

Polish docs language
  docs/toolhive/how-to/api-server.md
  docs/toolhive/how-to/client-configuration.md
  docs/toolhive/how-to/custom-permissions.md
  docs/toolhive/how-to/install.mdx
  docs/toolhive/how-to/manage-mcp-servers.md
  docs/toolhive/how-to/registry.md
  docs/toolhive/how-to/run-mcp-servers.mdx
  docs/toolhive/how-to/secrets-management.mdx
  docs/toolhive/index.mdx
  docs/toolhive/tutorials/quickstart.mdx
  docs/toolhive/tutorials/toolhive-operator.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix bad link
  docs/toolhive/how-to/install.mdx
Due: none

Polish the tutorials
  docs/toolhive/tutorials/quickstart.mdx
  docs/toolhive/tutorials/toolhive-operator.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add screenshots
  docs/toolhive/tutorials/toolhive-operator.mdx
  static/img/toolhive/quickstart/vscode-agent-mode-dark.webp
  static/img/toolhive/quickstart/vscode-agent-mode-light.webp
  static/img/toolhive/quickstart/vscode-mcp-running-dark.webp
  static/img/toolhive/quickstart/vscode-mcp-running-light.webp
  static/img/toolhive/quickstart/vscode-mcp-start-dark.webp
  static/img/toolhive/quickstart/vscode-mcp-start-light.webp
  static/img/toolhive/quickstart/vscode-settings-dark.webp
  static/img/toolhive/quickstart/vscode-settings-light.webp
  static/img/toolhive/quickstart/vscode-tool-use-dark.webp
  static/img/toolhive/quickstart/vscode-tool-use-light.webp
Due: none

Add screenshot styling
  docs/theme-preview.mdx
  docs/toolhive/reference/client-compatibility.mdx
  docs/toolhive/tutorials/toolhive-operator.mdx
  src/css/custom.css
Due: npx prettier --write

Remove kubectl deployment isntructions
  docs/toolhive/kubernetes/deploy-operator-helm.md
  docs/toolhive/kubernetes/deploy-operator-kubectl.md
  docs/toolhive/kubernetes/index.md
  docs/toolhive/tutorials/toolhive-operator.mdx
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update prereqs
  docs/toolhive/tutorials/quickstart.mdx
Due: none

Remove broken link
  docs/toolhive/tutorials/toolhive-operator.mdx
Due: none

Another broken link
  docs/toolhive/kubernetes/run-mcp-k8s.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update AI assistants to clients or agents
  docs/toolhive/how-to/client-configuration.md
  docs/toolhive/reference/client-compatibility.mdx
  docs/toolhive/tutorials/quickstart.mdx
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update K8s docs
  docs/toolhive/kubernetes/deploy-operator-helm.md
  docs/toolhive/kubernetes/index.md
  docs/toolhive/kubernetes/run-mcp-k8s.md
  docs/toolhive/tutorials/toolhive-operator.mdx
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add remote registry info
  docs/toolhive/how-to/registry.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Refresh CLI docs
  docs/toolhive/reference/cli/thv.md
  docs/toolhive/reference/cli/thv_inspector.md
  docs/toolhive/reference/cli/thv_logs.md
  docs/toolhive/reference/cli/thv_logs_prune.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update with Windows support
  docs/toolhive/how-to/_category_.yaml
  docs/toolhive/how-to/client-configuration.md
  docs/toolhive/how-to/install.mdx
  docs/toolhive/tutorials/quickstart.mdx
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update K8s docs
  docs/toolhive/kubernetes/_category_.yaml
  docs/toolhive/kubernetes/intro.md
  docs/toolhive/kubernetes/run-mcp-k8s.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add local go module support
  docs/toolhive/how-to/run-mcp-servers.mdx
Due: none

Add registry criteria doc
  docs/toolhive/concepts/registry-criteria.md
  docs/toolhive/how-to/registry.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix reference to Claude Code mcp config file.
  docs/toolhive/reference/client-compatibility.mdx
Due: none

Fix reference to Claude Code mcp config file. (#133)
  docs/toolhive/reference/client-compatibility.mdx
Due: none

Fix typo in thv quickstart header
  docs/toolhive/tutorials/quickstart.mdx
Due: none

Fix typo in thv quickstart header (#134)
  docs/toolhive/tutorials/quickstart.mdx
Due: none

Fix secret delete command
  docs/toolhive/how-to/secrets-management.mdx
Due: none

Update 1Password limitations wording
  docs/toolhive/how-to/secrets-management.mdx
Due: none

Minor edits to Kubernetes documentation
  docs/toolhive/kubernetes/intro.md
  docs/toolhive/kubernetes/run-mcp-k8s.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Remove prompt example from MCP primer.
  docs/toolhive/concepts/mcp-primer.md
Due: npx prettier --write, npx markdownlint-cli2 --fix
