Repository stacklok/codegate-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs,cjs}": ["npx prettier --write", "npx eslint --fix"],
  "*.md": ["npx prettier --write", "npx markdownlint-cli2 --fix"],
  "*.css": ["npx prettier --write"]
}

Fix formatting issue
  docs/about/changelog.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add changelog entry to note image versioning
  docs/about/changelog.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add security check workflow
  .github/workflows/_security-checks.yaml
  .github/workflows/on-pr.yaml
Due: none

Move the markdownlint-cli2 config to a file
  .markdownlint-cli2.jsonc
  package.json
Due: none

Add changelog and install notes about image tags
  docs/about/changelog.md
  docs/how-to/install.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Pin GitHub Actions to SHA
  .github/workflows/_security-checks.yaml
  .github/workflows/on-pr.yaml
Due: none

Add permissions to reusable workflows
  .github/workflows/_security-checks.yaml
  .github/workflows/_static-checks.yaml
Due: none

Add docs for Aider support
  docs/about/changelog.md
  docs/about/faq.md
  docs/how-to/install.md
  docs/how-to/use-with-aider.mdx
  docs/index.md
  docs/partials/_aider-providers.mdx
Due: npx prettier --write, npx markdownlint-cli2 --fix

Disable MD034 / no-bare-urls
  .markdownlint.json
Due: none

Sort markdownlint config by name
  .markdownlint.json
Due: none

Add group for eslint deps
  .github/dependabot.yaml
Due: none

Update sample prompts and responses
  docs/how-to/use-with-aider.mdx
  docs/how-to/use-with-continue.mdx
  docs/how-to/use-with-copilot.mdx
  docs/quickstart-copilot.mdx
Due: none

Update demo file references
  docs/quickstart-continue.mdx
  docs/quickstart-copilot.mdx
Due: none

Fix formatting
  docs/quickstart-continue.mdx
  docs/quickstart-copilot.mdx
Due: none

Update model reference for Ollama
  docs/partials/_aider-providers.mdx
Due: none

Update codegate version command
  docs/how-to/use-with-aider.mdx
  docs/how-to/use-with-continue.mdx
  docs/how-to/use-with-copilot.mdx
  docs/quickstart-continue.mdx
  docs/quickstart-copilot.mdx
Due: none

Fix lint-staged coverage
  .lintstagedrc
Due: none

"codegate-version" is now "codegate version"
  docs/how-to/use-with-aider.mdx
  docs/how-to/use-with-continue.mdx
  docs/how-to/use-with-copilot.mdx
  docs/quickstart-continue.mdx
  docs/quickstart-copilot.mdx
Due: none

Open code in codegate-demonstration folder
  docs/quickstart-continue.mdx
  docs/quickstart-copilot.mdx
Due: none

Add initial documentation on workspaces
  docs/features/workspaces.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Language and style updates, add rename command
  docs/features/workspaces.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix code block languages
  docs/features/workspaces.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

CLI updates
  docs/features/workspaces.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix plaintext code blocks language
  docs/features/security-reviews.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add workspaces UI docs and update descriptions
  docs/features/workspaces.md
  docs/features/workspaces.mdx
  static/img/features/workspace-menu-dark.webp
  static/img/features/workspace-menu-light.webp
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add GitHub-style theme switch support
  src/css/custom.css
Due: npx prettier --write

Add workspaces to changelog
  docs/about/changelog.md
  docs/index.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add style guide and update README
  README.md
  STYLE-GUIDE.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix aider naming style
  STYLE-GUIDE.md
  docs/about/changelog.md
  docs/how-to/install.md
  docs/how-to/use-with-aider.mdx
  docs/partials/_aider-providers.mdx
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix typos
  docs/index.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix find & replace mistakes
  docs/partials/_aider-providers.mdx
Due: none

Add Cline support to docs
  docs/about/changelog.md
  docs/how-to/install.md
  docs/how-to/use-with-aider.mdx
  docs/how-to/use-with-cline.mdx
  docs/index.md
  docs/partials/.markdownlint.json
  docs/partials/_aider-providers.mdx
  docs/partials/_cline-providers.mdx
  docs/partials/_local-model-recommendation.md
  static/img/how-to/cline-codegate-version-dark.webp
  static/img/how-to/cline-codegate-version-light.webp
  static/img/how-to/cline-provider-anthropic-dark.webp
  static/img/how-to/cline-provider-anthropic-light.webp
  static/img/how-to/cline-provider-lmstudio-dark.webp
  static/img/how-to/cline-provider-lmstudio-light.webp
  static/img/how-to/cline-provider-ollama-dark.webp
  static/img/how-to/cline-provider-ollama-light.webp
  static/img/how-to/cline-provider-openai-dark.webp
  static/img/how-to/cline-provider-openai-light.webp
  static/img/how-to/cline-settings-dark.webp
  static/img/how-to/cline-settings-light.webp
  static/img/how-to/lmstudio-server-dark.webp
  static/img/how-to/lmstudio-server-light.webp
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update Cline description
  docs/how-to/use-with-cline.mdx
Due: none

Group all linters, back off to weekly
  .github/dependabot.yaml
Due: none

Add the new LM Studio URL env var
  docs/how-to/configure.md
  docs/partials/_cline-providers.mdx
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update image widths
  docs/quickstart-continue.mdx
  docs/quickstart-copilot.mdx
Due: none

Refresh version screenshots
  docs/how-to/use-with-aider.mdx
  docs/how-to/use-with-continue.mdx
  docs/how-to/use-with-copilot.mdx
  static/img/continue-codegate-version-dark.webp
  static/img/how-to/continue-codegate-version-dark.webp
  static/img/how-to/continue-codegate-version-light.webp
  static/img/how-to/copilot-codegate-version-dark.webp
  static/img/how-to/copilot-codegate-version-light.webp
Due: none

Refresh dependency risk steps
  docs/quickstart-continue.mdx
  docs/quickstart-copilot.mdx
  static/img/quickstart/quickstart-continue-dependencies-result-dark.webp
  static/img/quickstart/quickstart-continue-dependencies-result-light.webp
  static/img/quickstart/quickstart-copilot-dependencies-context-dark.webp
  static/img/quickstart/quickstart-copilot-dependencies-context-light.webp
  static/img/quickstart/quickstart-copilot-dependencies-result-dark.webp
  static/img/quickstart/quickstart-copilot-dependencies-result-light.webp
  static/img/quickstart/quickstart-dashboard-dark.webp
  static/img/quickstart/quickstart-dashboard-light.webp
  static/img/quickstart/quickstart-dashboard.webp
Due: none

Update LM Studio endpoint for Cline
  docs/partials/_cline-providers.mdx
  static/img/how-to/cline-provider-lmstudio-dark.webp
  static/img/how-to/cline-provider-lmstudio-light.webp
Due: none

Minor edits
  docs/about/changelog.md
  docs/about/contributing.md
  docs/about/faq.md
  docs/about/index.mdx
  docs/integrations/cline.mdx
  docs/integrations/index.mdx
Due: npx prettier --write, npx markdownlint-cli2 --fix
