Repository stacklok/codegate-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Move integrations to their own section
  .gitignore
  docs/about/changelog.md
  docs/features/_category_.yaml
  docs/how-to/configure.md
  docs/how-to/dashboard.md
  docs/how-to/install.md
  docs/index.md
  docs/integrations/_category_.yaml
  docs/integrations/aider.mdx
  docs/integrations/cline.mdx
  docs/integrations/continue.mdx
  docs/integrations/copilot.mdx
  docs/integrations/index.mdx
  docs/partials/_aider-providers.mdx
  docs/partials/_cline-providers.mdx
  docs/quickstart-continue.mdx
  static/img/continue-codegate-version-dark.webp
  static/img/integrations/cline-codegate-version-dark.webp
  static/img/integrations/cline-codegate-version-light.webp
  static/img/integrations/cline-provider-anthropic-dark.webp
  static/img/integrations/cline-provider-anthropic-light.webp
  static/img/integrations/cline-provider-lmstudio-dark.webp
  static/img/integrations/cline-provider-lmstudio-light.webp
  static/img/integrations/cline-provider-ollama-dark.webp
  static/img/integrations/cline-provider-ollama-light.webp
  static/img/integrations/cline-provider-openai-dark.webp
  static/img/integrations/cline-provider-openai-light.webp
  static/img/integrations/cline-settings-dark.webp
  static/img/integrations/cline-settings-light.webp
  static/img/integrations/continue-codegate-version-dark.webp
  static/img/integrations/continue-codegate-version-light.webp
  static/img/integrations/continue-extension-dark.webp
  static/img/integrations/continue-extension-light.webp
  static/img/integrations/copilot-codegate-version-dark.webp
  static/img/integrations/copilot-codegate-version-light.webp
  static/img/integrations/lmstudio-server-dark.webp
  static/img/integrations/lmstudio-server-light.webp
  vercel.json
Due: npx prettier --write, npx markdownlint-cli2 --fix

Make sure every run command has a volume
  docs/how-to/dashboard.md
  docs/integrations/copilot.mdx
  docs/quickstart-continue.mdx
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update Continue quickstart title
  docs/quickstart-continue.mdx
Due: none

Add Columns component
  eslint.config.mjs
  src/components/Column/index.tsx
  src/components/Columns/index.tsx
  src/theme/MDXComponents.tsx
Due: npx prettier --write, npx eslint --fix

Add Kodu docs
  docs/about/changelog.md
  docs/index.md
  docs/integrations/kodu.mdx
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add Kodu screenshots
  docs/integrations/kodu.mdx
  static/img/integrations/kodu-codegate-version-dark.webp
  static/img/integrations/kodu-codegate-version-light.webp
  static/img/integrations/kodu-settings-1-dark.webp
  static/img/integrations/kodu-settings-1-light.webp
  static/img/integrations/kodu-settings-2-dark.webp
  static/img/integrations/kodu-settings-2-light.webp
Due: none

Update cert instructions for Linux
  docs/integrations/copilot.mdx
Due: none

Clarify state of JetBrains support for Copilot
  docs/index.md
  docs/integrations/copilot.mdx
Due: npx prettier --write, npx markdownlint-cli2 --fix

vercel analytics plugin added
  docusaurus.config.ts
  package-lock.json
  package.json
Due: npx prettier --write, npx eslint --fix

Update package.json
  package.json
Due: none

Fix protocol for Cline Anthropic integration
  docs/partials/_cline-providers.mdx
Due: none

Add Open Interpreter docs
  docs/about/changelog.md
  docs/index.md
  docs/integrations/open-interpreter.mdx
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update lockfile
  package-lock.json
Due: none

Minor edits
  docs/integrations/aider.mdx
  docs/partials/_aider-providers.mdx
  docs/partials/_cline-providers.mdx
Due: none

Update workspaces doc
  docs/features/workspaces.mdx
Due: none

Update integratiosn list
  docs/index.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Simplify container restart command
  docs/how-to/install.md
  docs/integrations/aider.mdx
  docs/integrations/cline.mdx
  docs/integrations/continue.mdx
  docs/integrations/copilot.mdx
  docs/integrations/open-interpreter.mdx
  docs/quickstart-continue.mdx
  docs/quickstart-copilot.mdx
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add muxing docs
  docs/features/muxing.md
  docs/features/workspaces.mdx
  docs/index.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Rename the configuration page and re-order
  docs/how-to/configure.md
  docs/how-to/dashboard.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add OpenRouter endpoint docs
  docs/how-to/configure.md
  docs/index.md
  docs/integrations/cline.mdx
  docs/integrations/continue.mdx
  docs/partials/_cline-providers.mdx
  static/img/integrations/cline-mode-act-dark.webp
  static/img/integrations/cline-mode-act-light.webp
  static/img/integrations/cline-mode-plan-dark.webp
  static/img/integrations/cline-mode-plan-light.webp
  static/img/integrations/cline-provider-openrouter-dark.webp
  static/img/integrations/cline-provider-openrouter-light.webp
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add muxing section to integrations
  docs/features/muxing.md
  docs/integrations/aider.mdx
  docs/integrations/cline.mdx
  docs/integrations/continue.mdx
  docs/integrations/copilot.mdx
  docs/integrations/open-interpreter.mdx
  docs/partials/_aider-providers.mdx
  docs/partials/_cline-providers.mdx
  static/img/integrations/cline-provider-mux-dark.webp
  static/img/integrations/cline-provider-mux-light.webp
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update changelog
  docs/about/changelog.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add Kodu docs
  docs/about/changelog.md
  docs/index.md
  docs/integrations/kodu.mdx
  docs/partials/_kodu-providers.mdx
  static/img/integrations/kodu-codegate-version-dark.webp
  static/img/integrations/kodu-codegate-version-light.webp
  static/img/integrations/kodu-settings-dark.webp
  static/img/integrations/kodu-settings-light.webp
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add notes for known issues with muxing
  docs/integrations/continue.mdx
  docs/partials/_kodu-providers.mdx
Due: none

Fix the cert removal steps for Linux
  docs/partials/_remove-cert.mdx
Due: none

Remove the removal steps from each integration
  docs/how-to/install.md
  docs/integrations/aider.mdx
  docs/integrations/cline.mdx
  docs/integrations/continue.mdx
  docs/integrations/copilot.mdx
  docs/integrations/kodu.mdx
  docs/integrations/open-interpreter.mdx
  docs/quickstart-continue.mdx
  docs/quickstart-copilot.mdx
Due: npx prettier --write, npx markdownlint-cli2 --fix

Run CodeGate on remote host
  docs/about/faq.md
  docs/how-to/install.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add PII redaction
  docs/about/changelog.md
  docs/features/dependency-risk.md
  docs/features/muxing.md
  docs/features/secrets-encryption.md
  docs/features/security-reviews.md
  docs/features/workspaces.mdx
  docs/index.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

restructuring, minor improvements
  docs/about/faq.md
  docs/how-to/configure.md
  docs/how-to/install.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Apply suggestions from code review
  docs/how-to/configure.md
  docs/how-to/install.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

added Dockerfile syntax highlighting per suggestion by Dan Barr <danbarr@users.noreply.github.com>
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

fix: adds note for copilot docs
  docs/integrations/copilot.mdx
Due: none

Upgrade dompurify
  package-lock.json
Due: none

add documentation for avante.nvim
  docs/integrations/avante.mdx
Due: none

Update docs/integrations/avante.mdx
  docs/integrations/avante.mdx
Due: none

Path conditions:
  npx prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,cjs}) or (any of: *.md)) or (any of: *.css)
  npx eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,cjs}
  npx markdownlint-cli2 --fix: any of: *.md
