Repository stacklok/codegate-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs,cjs}": ["npx prettier --write", "npx eslint --fix"],
  "*.md": ["npx prettier --write", "npx markdownlint-cli2 --fix"],
  "*.css": ["npx prettier --write"]
}

Remove note about PII in the dashboard
  docs/features/secrets-redaction.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add Algolia search
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

Update the method for running CodeGate remotely
  docs/how-to/configure.md
  docs/how-to/install.mdx
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add DB backup and restore steps
  docs/how-to/configure.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Move next steps up higher
  docs/how-to/install.mdx
Due: none

Fix broken image link
  docs/features/workspaces.mdx
Due: none

Fix npm audit issues
  package-lock.json
Due: none

Add file ownership and restart commands
  docs/how-to/configure.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add note
  docs/how-to/configure.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add DB backup/restore instructions (#107)
  docs/features/workspaces.mdx
  docs/how-to/configure.md
  docs/how-to/install.mdx
  package-lock.json
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add new developer guides
  docs/development/index.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add token usage tracking
  docs/features/workspaces.mdx
Due: none

Add FAQs
  docs/about/faq.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add more FAQs (#111)
  docs/about/faq.md
  docs/development/index.md
  docs/features/workspaces.mdx
Due: npx prettier --write, npx markdownlint-cli2 --fix

Group core react updates
  .github/dependabot.yaml
Due: none

Group core react updates (#113)
  .github/dependabot.yaml
Due: none

fix(env-var): adjust name for DASHBOARD_API_BASE_URL
  docs/how-to/configure.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

fix(env-var): adjust name for DASHBOARD_API_BASE_URL (#117)
  docs/how-to/configure.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update styles and enable dark mode
  docusaurus.config.ts
  src/css/codegate-footer.css
  src/css/custom.css
  src/css/icons.css
Due: npx prettier --write, npx eslint --fix

Update mermaid styles
  docs/features/muxing.mdx
  docs/integrations/copilot.mdx
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

Switch primary color to the new brand color
  src/css/custom.css
Due: npx prettier --write

Add troubleshooting guide
  docs/about/faq.md
  docs/how-to/troubleshooting.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update browserslist db
  package-lock.json
Due: none

Move CodeGate docs into subfolder
  docs/codegate/about/_category_.yaml
  docs/codegate/about/changelog.md
  docs/codegate/about/contributing.md
  docs/codegate/about/faq.md
  docs/codegate/about/index.mdx
  docs/codegate/development/_category_.yaml
  docs/codegate/development/index.md
  docs/codegate/features/_category_.yaml
  docs/codegate/features/dependency-risk.md
  docs/codegate/features/index.mdx
  docs/codegate/features/muxing.mdx
  docs/codegate/features/secrets-redaction.md
  docs/codegate/features/security-reviews.md
  docs/codegate/features/workspaces.mdx
  docs/codegate/how-to/_category_.yaml
  docs/codegate/how-to/configure.md
  docs/codegate/how-to/dashboard.md
  docs/codegate/how-to/index.mdx
  docs/codegate/how-to/install.mdx
  docs/codegate/index.md
  docs/codegate/integrations/_category_.yaml
  docs/codegate/integrations/aider.mdx
  docs/codegate/integrations/avante.mdx
  docs/codegate/integrations/cline.mdx
  docs/codegate/integrations/continue.mdx
  docs/codegate/integrations/copilot.mdx
  docs/codegate/integrations/index.mdx
  docs/codegate/integrations/kodu.mdx
  docs/codegate/integrations/open-interpreter.mdx
  docs/codegate/partials/.markdownlint.json
  docs/codegate/partials/_aider-providers.mdx
  docs/codegate/partials/_cline-providers.mdx
  docs/codegate/partials/_default-run-command.md
  docs/codegate/partials/_kodu-providers.mdx
  docs/codegate/partials/_local-model-recommendation.md
  docs/codegate/partials/_remove-cert.mdx
  docs/codegate/quickstart-continue.mdx
  docs/codegate/quickstart-copilot.mdx
  docs/partials/.markdownlint.json
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update sidebars config
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Add new logos
  static/img/codegate-wordmark-black.svg
  static/img/favicon.ico
  static/img/stacklok-icon-black.svg
  static/img/stacklok-wordmark-black.svg
  static/img/stacklok-wordmark-white.svg
  static/img/toolhive-wordmark-black.svg
Due: none

Update Docusaurus config
  docusaurus.config.ts
  static/img/favicon.png
  static/img/stacklok-icon-black.svg
  static/img/stacklok-logo-black.svg
Due: npx prettier --write, npx eslint --fix

Seed ToolHive index
  docs/toolhive/index.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update footer and styles
  docusaurus.config.ts
  src/css/custom.css
  src/css/footer.css
  src/css/icons.css
  static/img/codegate-logo-dark.svg
  static/img/codegate-logo-white.svg
  static/img/codegate-wordmark-black.svg
  static/img/codegate-wordmark-white.svg
  static/img/stacklok-wordmark-black.svg
  static/img/stacklok-wordmark-white.svg
  static/img/toolhive-wordmark-black.svg
  static/img/toolhive-wordmark-white.svg
Due: npx prettier --write, npx eslint --fix

Update index pages
  docs/codegate/index.mdx
  docs/index.mdx
  docs/toolhive/index.md
  docs/toolhive/index.mdx
Due: npx prettier --write, npx markdownlint-cli2 --fix

Remove columns components from global scope
  docs/index.mdx
  eslint.config.mjs
  src/theme/MDXComponents.tsx
Due: npx prettier --write, npx eslint --fix

Fixup links
  docs/codegate/partials/_cline-providers.mdx
  docs/index.mdx
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

Add Vercel redirect for codegate docs
  vercel.json
Due: none

Add preview header for testing
  vercel.json
Due: none

Fix redirect
  docs/codegate/quickstart-copilot.mdx
Due: none

Fix redirect
  vercel.json
Due: none

Fixup slug
  docs/codegate/quickstart-copilot.mdx
Due: none
