Repository stacklok/codegate-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs,cjs}": ["npx prettier --write", "npx eslint --fix"],
  "*.md": ["npx prettier --write", "npx markdownlint-cli2 --fix"],
  "*.css": ["npx prettier --write"]
}

Add redocusaurus plugin and CodeGate API
  docs/codegate/reference/_category_.yml
  docs/codegate/reference/api.mdx
  docusaurus.config.ts
  package-lock.json
  package.json
Due: npx prettier --write, npx eslint --fix

Update linter configs
  .markdownlint-cli2.jsonc
  .prettierignore
Due: none

Add ToolHive CLI docs (manual)
  docs/toolhive/reference/_category_.yml
  docs/toolhive/reference/cli/.markdownlint.json
  docs/toolhive/reference/cli/_category_.yml
  docs/toolhive/reference/cli/thv.md
  docs/toolhive/reference/cli/thv_config.md
  docs/toolhive/reference/cli/thv_config_auto-discovery.md
  docs/toolhive/reference/cli/thv_config_list-registered-clients.md
  docs/toolhive/reference/cli/thv_config_register-client.md
  docs/toolhive/reference/cli/thv_config_remove-client.md
  docs/toolhive/reference/cli/thv_config_secrets-provider.md
  docs/toolhive/reference/cli/thv_list.md
  docs/toolhive/reference/cli/thv_logs.md
  docs/toolhive/reference/cli/thv_proxy.md
  docs/toolhive/reference/cli/thv_registry.md
  docs/toolhive/reference/cli/thv_registry_info.md
  docs/toolhive/reference/cli/thv_registry_list.md
  docs/toolhive/reference/cli/thv_restart.md
  docs/toolhive/reference/cli/thv_rm.md
  docs/toolhive/reference/cli/thv_run.md
  docs/toolhive/reference/cli/thv_search.md
  docs/toolhive/reference/cli/thv_secret.md
  docs/toolhive/reference/cli/thv_secret_delete.md
  docs/toolhive/reference/cli/thv_secret_get.md
  docs/toolhive/reference/cli/thv_secret_list.md
  docs/toolhive/reference/cli/thv_secret_provider.md
  docs/toolhive/reference/cli/thv_secret_reset-keyring.md
  docs/toolhive/reference/cli/thv_secret_set.md
  docs/toolhive/reference/cli/thv_serve.md
  docs/toolhive/reference/cli/thv_stop.md
  docs/toolhive/reference/cli/thv_version.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add customized 404s for deprecated services
  src/theme/NotFound/Content/index.tsx
  src/theme/NotFound/index.tsx
Due: npx prettier --write, npx eslint --fix

Update README and style guide
  .markdownlint.json
  README.md
  STYLE-GUIDE.md
  package-lock.json
  package.json
Due: npx prettier --write, npx markdownlint-cli2 --fix

Troubleshooting-guide (#128)
  docs/about/faq.md
  docs/how-to/troubleshooting.md
  package-lock.json
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update sidebars config
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Seed ToolHive index
  docs/toolhive/index.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update Docusaurus config
  docusaurus.config.ts
  static/img/favicon.png
  static/img/stacklok-icon-black.svg
  static/img/stacklok-logo-black.svg
Due: npx prettier --write, npx eslint --fix

Add new logos
  static/img/codegate-wordmark-black.svg
  static/img/favicon.ico
  static/img/stacklok-icon-black.svg
  static/img/stacklok-wordmark-black.svg
  static/img/stacklok-wordmark-white.svg
  static/img/toolhive-wordmark-black.svg
Due: none

Move CodeGate docs into subfolder
  docs/codegate/about/_category_.yaml
  docs/codegate/about/changelog.md
  docs/codegate/about/contributing.md
  docs/codegate/about/faq.md
  docs/codegate/about/index.mdx
  docs/codegate/development/_category_.yaml
  docs/codegate/development/index.md
  docs/codegate/features/_category_.yaml
  docs/codegate/features/dependency-risk.md
  docs/codegate/features/index.mdx
  docs/codegate/features/muxing.mdx
  docs/codegate/features/secrets-redaction.md
  docs/codegate/features/security-reviews.md
  docs/codegate/features/workspaces.mdx
  docs/codegate/how-to/_category_.yaml
  docs/codegate/how-to/configure.md
  docs/codegate/how-to/dashboard.md
  docs/codegate/how-to/index.mdx
  docs/codegate/how-to/install.mdx
  docs/codegate/how-to/troubleshooting.md
  docs/codegate/index.md
  docs/codegate/integrations/_category_.yaml
  docs/codegate/integrations/aider.mdx
  docs/codegate/integrations/avante.mdx
  docs/codegate/integrations/cline.mdx
  docs/codegate/integrations/continue.mdx
  docs/codegate/integrations/copilot.mdx
  docs/codegate/integrations/index.mdx
  docs/codegate/integrations/kodu.mdx
  docs/codegate/integrations/open-interpreter.mdx
  docs/codegate/partials/.markdownlint.json
  docs/codegate/partials/_aider-providers.mdx
  docs/codegate/partials/_cline-providers.mdx
  docs/codegate/partials/_default-run-command.md
  docs/codegate/partials/_kodu-providers.mdx
  docs/codegate/partials/_local-model-recommendation.md
  docs/codegate/partials/_remove-cert.mdx
  docs/codegate/quickstart-continue.mdx
  docs/codegate/quickstart-copilot.mdx
  docs/partials/.markdownlint.json
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add preview header for testing
  vercel.json
Due: none

Fix redirect
  vercel.json
Due: none

Fixup slug
  docs/codegate/quickstart-copilot.mdx
Due: none

Fixup links
  docs/codegate/partials/_cline-providers.mdx
  docs/index.mdx
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

Remove columns components from global scope
  docs/index.mdx
  eslint.config.mjs
  src/theme/MDXComponents.tsx
Due: npx prettier --write, npx eslint --fix

Fix redirect
  docs/codegate/quickstart-copilot.mdx
Due: none

Update footer and styles
  docusaurus.config.ts
  src/css/custom.css
  src/css/footer.css
  src/css/icons.css
  static/img/codegate-logo-dark.svg
  static/img/codegate-logo-white.svg
  static/img/codegate-wordmark-black.svg
  static/img/codegate-wordmark-white.svg
  static/img/stacklok-wordmark-black.svg
  static/img/stacklok-wordmark-white.svg
  static/img/toolhive-wordmark-black.svg
  static/img/toolhive-wordmark-white.svg
Due: npx prettier --write, npx eslint --fix

Update index pages
  docs/codegate/index.mdx
  docs/index.mdx
  docs/toolhive/index.md
  docs/toolhive/index.mdx
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add Vercel redirect for codegate docs
  vercel.json
Due: none

Update design
  docs/codegate/index.mdx
  docs/index.mdx
  docs/toolhive/index.mdx
  docusaurus.config.ts
  src/css/custom.css
  src/css/footer.css
  src/css/icons.css
  src/css/landing-page.css
  static/img/linkedin-brands.svg
  static/img/product-card-hover.png
Due: npx prettier --write, npx eslint --fix

Fix styles in build mode
  docs/index.mdx
  src/css/custom.css
  src/css/landing-page.css
Due: npx prettier --write

Add theme preview page
  docs/theme-preview.mdx
Due: none

Add first batch of ToolHive docs
  docs/toolhive/concepts/_category_.yaml
  docs/toolhive/concepts/mcp-primer.md
  docs/toolhive/how-to/_category_.yaml
  docs/toolhive/how-to/client-configuration.md
  docs/toolhive/how-to/custom-permissions.md
  docs/toolhive/how-to/install.mdx
  docs/toolhive/how-to/run-mcp-servers.mdx
  docs/toolhive/how-to/secrets-management.mdx
  docs/toolhive/index.mdx
  docs/toolhive/kubernetes/_category_.yaml
  docs/toolhive/quickstart.mdx
  docs/toolhive/reference/_category_.yaml
  docs/toolhive/reference/client-compatibility.md
  docs/toolhive/tutorials/_category_.yaml
  static/img/toolhive-mascot.png
  static/img/toolhive/vscode-mcp-start.webp
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update mermaid coloring
  docusaurus.config.ts
  src/css/custom.css
Due: npx prettier --write, npx eslint --fix

Refresh CLI docs
  docs/toolhive/reference/cli/thv_proxy.md
  docs/toolhive/reference/cli/thv_run.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Refactor the landing page into React components
  docs/index.mdx
  src/components/ProductCard/README.md
  src/components/ProductCard/assets/product-card-hover.png
  src/components/ProductCard/index.tsx
  src/components/ProductCard/styles.module.css
  src/components/ProductGrid/README.md
  src/components/ProductGrid/index.tsx
  src/components/ProductGrid/styles.module.css
  src/css/custom.css
  static/img/stacklok-wordmark-gradient.svg
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Update the index page
  docs/toolhive/index.mdx
Due: none

Split up the run and manage guide
  docs/toolhive/how-to/custom-permissions.md
  docs/toolhive/how-to/install.mdx
  docs/toolhive/how-to/manage-mcp-servers.md
  docs/toolhive/how-to/registry.md
  docs/toolhive/how-to/run-mcp-servers.mdx
  docs/toolhive/how-to/secrets-management.mdx
  docs/toolhive/reference/client-compatibility.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update and fix some content
  docs/toolhive/how-to/client-configuration.md
  docs/toolhive/quickstart.mdx
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update code syntax highlighting thermes
  docusaurus.config.ts
  src/css/custom.css
  src/utils/prismDark.ts
  src/utils/prismLight.ts
Due: npx prettier --write, npx eslint --fix

Add sample diagrams
  docs/theme-preview.mdx
Due: none

Add ToolHive API and redocly customization
  docs/codegate/reference/api.mdx
  docs/toolhive/reference/api.mdx
  docusaurus.config.ts
  src/redocly/plugins/decorators/replace-servers-url.js
  src/redocly/plugins/replace-servers-url.js
  src/redocly/redocly-codegate.yaml
  src/redocly/redocly-toolhive.yaml
Due: npx prettier --write, npx eslint --fix
